html, body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    height: 100%;
    margin: 0;
    padding: 0;
}

/*color: #ccc;
color: #99a7ee;
background-color: #FFFF64;

#lyrics::-webkit-scrollbar {
    display: none;
}*/
